<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=use2serverless;AccountKey=NsfJ8dO/SXd5Pdhsgvyc/ZW2bREP0j8/KwZFrcRbsvYkybiaCh527BXoztOa0m8qxNzvusM4rIHCJNMgB5AT0A==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>